@import "tailwindcss";
    
@theme {
  --background-image-main-bg: url('/images/portfolio/image15.png');
  --background-image-hero-bg: url('/images/background/Hero_image.png');
  --color-background: #3e3b33;
  --color-foreground: #EDEDED;
  --color-primary: #D5A021;
  --color-primary-hover: #b0841c;
}

html {
  scroll-behavior: smooth;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 3rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 3rem; /* space between items */
}